<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>Register Page</title>
</h:head>
<h:body>
    <f:view>
        <h:form id="registerForm">
            <table frame="box">
                <tr>
                    <th>Register Page</th>
                </tr>
                <tr>
                    <td><h:outputText value="Enter Your Name : " /></td>
                    <td><h:inputText id="name" value="#{usercontroller.name}"
                            required="true" requiredMessage="Name field must not be empty" />
                    </td>
                    <td><h:message for="inputName" style="color:red" /></td>
                </tr>
                 <tr>
                    <td><h:outputText value="Enter Your Surname : " /></td>
                    <td><h:inputText id="surname" value="#{usercontroller.surname}"
                            required="true" requiredMessage="surname field must not be empty" />
                    </td>
                    <td><h:message for="inputName" style="color:red" /></td>
                </tr>
                <tr>
                    <td><h:outputText value="Enter password :" /></td>
                    <td><h:inputSecret id="password" value="#{usercontroller.password}"
                            required="true"
                            requiredMessage="Password field must not be empty" /></td>
                    <td><h:message for="inputPassword" style="color:red" /></td>
                </tr>
                 <tr>
                    <td><h:outputText value="Enter password retry :" /></td>
                    <td><h:inputSecret id="passwordRetry" value="#{usercontroller.passwordRetry}"
                            required="true"
                            requiredMessage="passwordRetry field must not be empty" /></td>
                    <td><h:message for="inputPassword" style="color:red" /></td>
                </tr>
                  <tr>
                    <td><h:outputText value="Enter email  :" /></td>
                    <td><h:inputSecret id="email" value="#{usercontroller.email}"
                            required="true"
                            requiredMessage="email field must not be empty" /></td>
                    <td><h:message for="inputPassword" style="color:red" /></td>
                </tr>
                <tr>
                    <td><h:commandButton value="Sign In" action="#{usercontroller.createUser}" /></td>
                    <td><h:outputLink value="index.xhtml">Login Page</h:outputLink></td>
                </tr>
            </table>
        </h:form>
    </f:view>
</h:body>
</html>
